name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # 每天运行
  workflow_dispatch: # 允许手动运行
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          user: nianyi778
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Shanghai
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
